/*blockquote {
	background: $grey-lt-100;
	border-radius: 0.5em;
	padding: 0.5em;
}*/

.admonition {
  border-left: $border-radius solid nth($blue-300, 1);
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
	padding-bottom: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	background: rgba($blue-000, .2);
}

.admonition-title {
	color: $blue-300;
	display: block;
	font-weight: bold;
	font-size: 1.05em;
	padding-bottom: 0.1rem;
}

$callouts: (
    info: ($blue-300, rgba($blue-000, .2), 'INFO'),
    warn: ($yellow-300, rgba($yellow-000, .2), 'WARNING'),
    danger: ($red-300, rgba($red-000, .2), 'DANGER')
);

@each $class, $props in $callouts {
    .#{$class} {
        background: nth($props, 2);
        border-left: $border-radius solid nth($props, 1);
        border-radius: $border-radius;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
        padding: .8rem;

        &::before {
            color: nth($props, 1);
            content: nth($props, 3);
            display: block;
            font-weight: bold;
            font-size: .75em;
            padding-bottom: .125rem;
        }
    }
}
