grant {
        // Very permissive permissions
        permission jdk.dio.gpio.GPIOPinPermission "*:*";
        permission jdk.dio.DeviceMgmtPermission "*:*", "open";
        permission jdk.dio.i2cbus.I2CPermission "*:*";
        permission jdk.dio.pwm.PWMPermission "*:*";
        permission jdk.dio.spibus.SPIPermission "*:*";
};
